@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

.actionBar {
  font-family: "Mate SC", serif;
}

.content {
  font-size: 17;
}

.wrapper {
  padding: 15;
}

.info {
  font-size: 15;
}
